<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <title>Home</title>
</head>
<body>
    <nav>
            <% if (user) { %>
                <div class="rti">Welcome <%= user.email %> </div>

                <a href="/logout">Log OUT</a>
                <% } else { %>
           <a href="/login">Log in</a><br>
            <a href="/signup" class="btn">Sign up</a>
              <% } %> 
      </nav>
      <div class="cont"><a href="/compile" class="btn"><img src="./comp (2).png" alt=""></a></div>
</body>
</html>